<div>
  <h1>{{name}}</h1>
  <div>Capital: {{capital}}</div>
  <div>Population: {{population}}</div>
  <div>Launguages:<ul>
      {{#each languages}}
        <li>{{name}}</li>
      {{/each}}
    </ul></div>
  <img src='{{flag}}' alt='' />
</div>